<ion-header class="ion-no-border">
  <ion-button [routerLink]="['/home']" fill="clear">
    <ion-icon name="arrow-back-outline"></ion-icon>
    <ion-title>Lista de comandos</ion-title>
  </ion-button>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- <div class="todolist-container">
		<div class="todo-tasks-list" *ngFor="let item of commands">
			<div class="task">
				<div class="task-infos">
					<div class="time"><i class="material-icons">~/$</i>{{item.command}}</div>
					<div class="title">{{item.description}}</div>
				</div>
			</div>
		</div>
	</div> -->

</ion-content>
